
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++
					ALIGNMENT
++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*Remove default float from bootstrap and ensure centering ability*/
.centered {
	float: none;
}

 /*Use to force inline-block*/
.inline-block {
	display:inline-block;
}

/*Set position to absolute*/
.absolute {
	position: absolute;
}

/*Set position to relative*/
.relative {
	position: relative;
}


/*Give side padding medium strength favoring the right*/
.pad-md-right {
	padding: 0 1.5em 0 1em;
}

/*Use on containers to align the child elements*/
.centering {
	text-align: center;
}

/*Float inlin-block containers right*/
.box-side-right {
	float: right;
}

/*Float inlin-block containers left*/
.box-side-left {
	float: left;
}

/*Remove default margin*/
.no-mgn {
	margin: 0;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
					MAIN PAGE
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*Give the entire page a background color*/
.main-page {
	background-color: #CDE;
}



.highlight {
	border: .15em solid #AEA;
}
/*----------------------------POST----------------------------*/

.box-center {
	border: 1.5em solid #DEE;
	/*width: 80%;*/
}

.post {
	border: 2px solid #000;
}

.post-head {
	overflow: hidden;
}

.post-icons {
	border-bottom: 2px solid #AAA;
}

/*----------------------------ICONS----------------------------*/


/*Create a circular button*/
.btn-circle {
	width: 3.5em;
	height: 3.5em;
	overflow: hidden;
	border-radius: 50%;
	line-height: 3.5em;
}

.btn-circle-xs {
	width: 1.65em;
	height: 1.65em;
	overflow: hidden;
	border-radius: 50%;
	line-height: .65em;
}


/*_____________MEDIA ICONS______________*/

.facebook {
	background-color: #55A;

}
.twitter {
	background-color: #99E;
}

.instagram {
	background-color: #979;
}


/*Icon shape*/
	.media-circle-md {
		color: #EEE;
		height: 1em;
		width: 1em;
		font-size: 3.5em;
		border-radius: 50%;
	}

	.media-circle-xs {
		color: #EEE;
		height: 1em;
		width: 1em;
		font-size: 1.5em;
		border-radius: 50%;
	}

/*----------------------------USER----------------------------*/

.user-info {
	margin-top: 2em;
}

.user-img {
	float: left;
	margin-right: 5px;
}






/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
					LOGIN
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*----------------------CENTER LOGIN--------------------------*/

.center-form {
	background-color: rgba(100, 200, 100, .35); 
	border-radius: 10px;
	border: 5px solid #EEF;
	padding: 2em;

}

.form-container {
	z-index: 10;
	width: 100%;
}

.form-container-avg {
	top: 25%;
}



/*_________________NEW USER_______________*/

.form-container-tall {
	top: 5%;
}

.form-container-wide {
	width: 40%;
}

/*Create a wider input area*/
.form-wide input {
	width: 55%;
}
/*--------------------------CAROUSEL-------------------------*/


/*Set a fixed height for the carousel and its contained elements*/
	.carousel.slide {
		height: 600px;
	}

	.carousel-inner {
		height: 100%;
	}

	.item {
		height: 100%;
	}

/*----------------------CAROUSEL ITEMS----------------------*/

.carousel-item-1 .color {
	height: 100%;
	width: 100%;
	background-color: rgba(150, 150, 150, .2);
}

.carousel-item-1 {
	background-image: url("http://placehold.it/250x250");
	background-repeat: no-repeat;
	background-size: 100%;
}

.carousel-item-2 .color {
	height: 100%;
	width: 100%;
	background-color: rgba(50, 90, 150, .2);
}

.carousel-item-2 {
	background-image: url("http://placehold.it/250x250");
	background-repeat: no-repeat;
	background-size: 100%;
}

.carousel-item-3 .color {
	height: 100%;
	width: 100%;
	background-color: rgba(50, 150, 50, .2);
}

.carousel-item-3 {
	background-image: url("http://placehold.it/250x250");
	background-repeat: no-repeat;
	background-size: 100%;
}

.carousel-item-4 .color {
	height: 100%;
	width: 100%;
	background-color: rgba(150, 50, 50, .2);
}
.carousel-item-4 {
	background-image: url("http://placehold.it/250x250");
	background-repeat: no-repeat;
	background-size: 100%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
						/////////////////
-----------------------------GENERAL---------------------------------------------
						/////////////////
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.absent, .template, #template, #icon-template {
	display: none;
}
